@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  direction: ltr;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
  p {
    font-family: IRANsans;
  }
  .max-width-wrapper {
    .header-box {
      box-shadow: 2px 2px 2px gray;
      max-width: 1320px;
      width: 100%;
      height: 71px;
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      margin: 0 60px;
      gap: 550px;
      border-radius: 8px;
      .header-left-div {
        width: 620px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 10px;
        gap: 10px;
        .Button img {
          display: block;
          width: 40px;
          height: 40px;
        }
        img {
          display: block;
          width: 25px;
          height: 25px;
        }
      }
      .header-right-div {
        width: 700px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left-div {
          width: 378px;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .frist,
          .second,
          .third {
            display: flex;
            gap: 8px;
          }
          img {
            display: block;
            width: 20px;
            height: 20px;
          }
        }
        .center-div {
          width: 200px;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 16px;

          img {
            display: block;
            width: 20px;
            height: 20px;
          }
        }
        .right-div {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-right: 20px;
          img {
            display: block;
            width: 45px;
            height: 33px;
          }
        }
      }
    }
  }
}
main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  .max-width-wrapper {
    max-width: 1320px;
    .slider {
      display: flex;
      justify-content: center;
      height: auto;
      margin-top: 47px;
      img {
        display: block;
        width: 100%;
        height: 540px;
      }
    }
    .menu {
      width: 100%;
      height: 259px;
      margin-top: 48px;
      .menu-top {
        width: 100%;
        height: 27px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        font-size: 18px;
        h3 {
          font-family: IRANsans;
          font-size: 18px;
          font-weight: bold;
          white-space: nowrap;
        }
        .line {
          border-bottom: 1px solid #dbe6f2;
          width: 100%;
        }
      }
      .menu-bottom {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px;

        .items {
          margin-top: 45px;
          background-color: #fff;
          width: 200px;
          height: 200px;
          border-radius: 100px;
          box-shadow: 0px 0px 2px gray;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 30px;
          font-size: 18px;
          img {
            display: block;
            width: 45px;
            height: 45px;
          }
          h3 {
            font-family: IRANsans;
            font-size: 18px;
            font-weight: bold;
          }
        }
      }
    }
    .products {
      width: 100%;
      height: 1082px;
      margin-top: 72px;
      .products-top-div {
        width: 100%;
        height: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .top-div-left {
          width: 365px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 16px;
          color: #94a0ae;
          h5 {
            font-family: IRANsans;
            font-size: 14px;
            font-weight: bold;
          }
        }
        .top-div-left h5:nth-child(5) {
          background-color: #ffbd5c;
          width: 57px;
          height: 31px;
          border-radius: 5px;
          color: black;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .top-div-center {
          width: 100%;
          white-space: nowrap;
          border-bottom: 1px solid #dbe6f2;
        }
        .top-div-right {
          display: flex;
          justify-content: center;
          align-items: center;
          h2 {
            font-family: IRANsans;
            font-size: 20px;
            font-weight: bold;
            white-space: nowrap;
          }
        }
      }
    }
    .products-mian-div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 54px;
      h4 {
        font-family: IRANsans;
        font-size: 16px;
        font-weight: bold;
      }
      h2 {
        font-family: IRANsans;
        font-size: 20px;
        font-weight: bold;
      }

      .products-poster {
        margin: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 312px;
        height: 430px;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0px 0px 1px gray;
        .products-poster-top {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 8px;
          margin-bottom: 16px;
          img {
            display: block;
            width: 195px;
            height: 195px;
            margin-bottom: 8px;
          }
          h4 {
            font-size: 16px;
            color: #2e353c;
          }
          h2 {
            font-size: 20px;
            color: #ffbd5c;
          }
          .frist-p {
            color: #abb7c4;
            text-decoration: line-through;
            font-family: IRANsans;
            font-size: 12px;
          }
          .second-p {
            color: #7e8a97;
            font-family: IRANsans;
            font-size: 12px;
          }
        }
        .products-poster-bottom {
          display: flex;
          justify-content: center;
          gap: 8px;
          align-items: center;
          background-color: #ffbd5c;
          border-radius: 5px;
          width: 77px;
          height: 34px;
          margin-top: 8px;
          font-size: 12px;
          font-family: IRANsans;
          img {
            display: block;
            width: 12px;
            height: 12px;
          }
        }
      }
      .products-bottom-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 12px;
        margin-top: 48px;
        background-color: #fff;
        border: none;
        img {
          display: block;
          width: 35px;
          height: 35px;
        }
        h3 {
          font-size: 18px;
          font-family: IRANsans;
        }
      }
    }
    .speciali-sale {
      width: 100%;
      height: 468px;
      display: flex;
      justify-content: center;
      gap: 24px;
      align-items: center;
      background-color: #fff;
      border-radius: 8px;
      margin-top: 83px;
      box-shadow: 0px 0px 1px gray;
      padding: 19px;

      .speciali-sale-frist-div,
      .speciali-sale-second-div,
      .speciali-sale-third-div,
      .speciali-sale-forth-div {
        width: 312px;
        height: 430px;
      }
      .speciali-sale-frist-div,
      .speciali-sale-second-div,
      .speciali-sale-third-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 8px;
        border-radius: 8px;
        box-shadow: 0px 2px 1px gray;
        background-color: #fff;

        .poster-shose {
          margin-bottom: 8px;
          img {
            display: block;
            width: 195px;
            height: 195px;
            margin-bottom: 8px;
          }
        }
        .speciali-sale-bottom-div {
          display: flex;
          justify-content: center;
          gap: 8px;
          align-items: center;
          background-color: #ffbd5c;
          border-radius: 5px;
          width: 77px;
          height: 34px;
          margin-top: 16px;
          font-size: 12px;
          img {
            display: block;
            width: 12px;
            height: 12px;
          }
        }
      }
      .speciali-sale-forth-div {
        direction: rtl;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        .forth-div-top {
          width: 100%;
          height: 80px;
          gap: 8px;
          direction: rtl;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
          padding-right: 24px;
          p {
            font-size: 14px;
            width: 167px;
            height: 42px;
            font-family: IRANsans;
            font-size: 14px;
          }
        }
        .nothing {
          width: 100;
          height: 35%;
        }
        .forth-div-bottom {
          width: 100%;
          height: 30%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          padding: 24px;
          .box-time {
            .time {
              width: 47px;
              height: 47px;
              background-color: #000;
              border-radius: 8px;
              color: #fff;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 20px;
            }
            .title {
              margin-top: 8px;
              display: flex;
              justify-content: center;
            }
          }
        }
      }
      h4 {
        font-family: IRANsans;
        font-size: 16px;
        font-weight: bold;
      }
      h2 {
        font-family: IRANsans;
        font-size: 20px;
        font-weight: bold;
      }
      p {
        font-family: IRANsans;
        font-size: 12px;
      }
      h1 {
        font-family: IRANsans;
        font-size: 22px;
        font-weight: bold;
      }
      .gray-text {
        color: #7e8a97;
      }
    }
    .intoduce-sports {
      width: 100%;
      height: 424px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: row;
      margin-top: 72px;
      .intoduce-sports-div {
        width: 648px;
        height: 200px;
        display: flex;
        justify-content: space-between;
        border-radius: 8px;
        box-shadow: 0px 0px 1px #eeeeee;
        background-color: #eeeeee;
        overflow: hidden;
        .intoduce-sports-poster {
          width: 30%;
          img {
            display: block;
            width: 238px;
            height: 207px;
          }
        }
        .intoduce-sports-right {
          direction: rtl;
          width: 70%;
          height: 100%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          gap: 16px;
          padding: 29px;
          .intoduce-sports-text {
            .name-text {
              font-family: IRANsans;
              font-size: 24px;
              margin-bottom: 16px;
            }
            .bottom-text {
              font-family: IRANsans;
              font-size: 14px;
            }
          }
          .intoduce-sports-button {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            background-color: #ffbd5c;
            width: 72px;
            height: 34px;
            border-radius: 4px;
            img {
              width: 12px;
              height: 12px;
            }
          }
        }
      }
    }
    .company-logos {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 213px;
      margin-top: 72px;
      .titer {
        font-family: IRANsans;
        font-size: 24px;
        font-weight: bold;
      }
      .logo-png {
        width: 856px;
        height: 152px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 26px;
        img {
          display: block;
          width: 150px;
          height: 150px;
        }
      }
    }
    .news {
      width: 100%;
      height: 445px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 72px;
      gap: 32px;
      .topic {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p:nth-child(1) {
          font-family: IRANsans;
          font-size: 24px;
          font-weight: bold;
        }
        p:nth-child(2) {
          font-family: IRANsans;
          font-size: 14px;
        }
        .yellow-line {
          display: flex;
          justify-content: center;
          gap: 2px;
          margin-top: 4px;
          div:nth-child(1) {
            width: 66px;

            border-bottom: 3px solid #ffbd5c;
            border-radius: 8px;
          }
          div:nth-child(2) {
            width: 22px;

            border-bottom: 3px solid #ffbd5c;
            border-radius: 8px;
          }
          div:nth-child(3) {
            width: 7px;

            border-bottom: 3px solid #ffbd5c;
            border-radius: 8px;
          }
        }
      }
      .poster-news {
        width: 100%;
        height: 359px;
        display: flex;
        justify-content: space-between;
        gap: 24px;
        .poster-news-div {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: column;
          background-color: #fff;
          box-shadow: 0px 0px 1px #7e8a97;
          border-radius: 8px;
          poster {
            img {
              display: block;
              width: 424px;
              height: 177px;
            }
          }
        }
        .poster-news-bottom {
          padding: 0px 24px;
          .text {
            direction: rtl;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            gap: 16px;
            p:nth-child(1) {
              font-family: IRANsans;
              font-size: 20px;
              font-weight: bold;
            }
            p:nth-child(2) {
              font-family: IRANsans;
              font-size: 14px;
              color: #414a53;
            }
          }
          .time-table {
            display: flex;
            justify-content: space-between;
            margin-top: 24px;
            .more {
              display: flex;
              justify-content: center;
              gap: 10px;
              p {
                font-family: IRANsans;
                font-size: 12px;
                color: #7e8a97;
              }
            }
            .date {
              display: flex;
              justify-content: center;
              gap: 10px;
              p {
                font-family: IRANsans;
                font-size: 12px;
                color: #7e8a97;
              }
            }
          }
        }
      }
    }
    .representation-section {
      width: 100%;
      height: 92px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 24px;
      margin-top: 72px;
      background-color: #fff;
      filter: drop-shadow(0px 0px 1px #2e353c);
      .requiest-to-apply {
        width: 139px;
        height: 42px;
        background-color: #ffbd5c;
        border-radius: 8px;
        border: none;
        font-family: IRANsans;
        font-size: 14px;
      }
      .representation-section-right-title {
        direction: rtl;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 4px;
        p:nth-child(1) {
          font-family: IRANsans;
          font-size: 20px;
          font-weight: bold;
          line-height: 30px;
        }
        p:nth-child(2) {
          font-family: IRANsans;
          font-size: 18px;
          color: #7e8a97;
        }
      }
    }
  }
}
