@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  direction: rtl;
}
body {
  width: 100%;
  height: 1024px;
  display: flex;
  justify-content: center;
  .max-width-wrapper {
    width: 1320px;
    display: flex;
    justify-content: center;
    gap: 24px;
    .right-div {
      width: 648px;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 24px;
      .right-div-frist {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 24px;
        img {
          display: block;
          width: 66px;
          height: 46px;
        }
        h4 {
          font-family: IRANsans;
          font-size: 16px;
          font-weight: bold;
          color: #7e8a97;
        }
      }
      .form {
        input[type="text"] {
          width: 616px;
          height: 72px;
          background-color: #fff;
          box-shadow: 1px 1px 1px gray;
          border-radius: 4px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          border-color: white;
          font-family: IRANsans;
          font-size: 16px;
          color: #7e8a97;
        }
      }
      .Continue {
        width: 425px;
        height: 56px;
        background-color: #ffbd5c;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          text-decoration: none;
          color: #000;
          font-family: IRANsans;
          font-size: 18px;
        }
      }
      .another-way {
        width: 100%;
        height: 29px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        .line {
          border-bottom: 1px solid #dbe6f2;
          width: 100%;
        }
        p {
          font-family: IRANsans;
          font-size: 18px;
          white-space: nowrap;
        }
      }
    }
  }
  .left-div {
    img {
      display: block;
      width: 648px;
      height: 992px;
    }
  }
}
